pefile
phonenumbers
Pillow
platformdirs
playsound
plyer
proglog
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pvporcupine
pyasn1
pyasn1-modules
PyAudio
PyAutoGUI
pycparser
pycryptodomex
pydantic
pydantic_core
pydub
pygame
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyjokes
pymongo
PyMsgBox
pynput
pyowm
pyparsing
PyPDF2
pyperclip
pypiwin32
pypng
PyQt5
PyQt5-Qt5
PyQt5-sip
PyRect
PyScreeze
PySocks
pytesseract
python-dateutil
python-dotenv
pyttsx3
pytube
pytweening
pytz
pywhatkit
pywikihow
pywin32
pywin32-ctypes
PyYAML
pyzmq
qrcode
quote
ratelim
regex
requests
requests-cache
requests-oauthlib
requests-toolbelt
rfc3986
rsa
safetensors
selenium
six
sniffio
sortedcontainers
soupsieve
speak
SpeechRecognition
speedtest
speedtest-cli
SQLAlchemy
stack-data
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thread6
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing-inspect
typing_extensions
tzdata
uritemplate
url-normalize
urllib3
Wave
wcwidth
Werkzeug
whichcraft
wikipedia
Wikipedia-API
windows-curses
wolframalpha
wrapt
wsproto
xmltodict
xyzservices
yarl
zipp
zope.event
zope.interface
